@page
@model IndexModel
@{
    ViewData["Title"] = "Trang Chủ";
}

     <!-- <div class="hero-wrap js-fullheight" style="background-image: url('images/bvCT.jpg');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
					<h1 class="mb-4" data-scrollax="properties: { translateY: '90%', opacity: 1.6 }"><br></h1>
					<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
				</div>
				</div>
			</div>
		</div>  -->
  
   <div class="item-slick1 item1-slick1" style="background-image: url(images/bvCT.jpg);"></div>

  <br>


  <section class="ftco-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="intro">
                <h3><span>01</span> Vấn đề chung </h3>
                <p>Đối tượng nào được quyền đăng kí khám bệnh trực tuyến.<br>
                   Tất cả mọi người đều được quyền đăng kí khám bệnh trực tuyến
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="intro">
                <h3><span>02</span> Vấn đề về tài khoản</h3>
                <p>Tôi có quyền chọn tùy ý một hồ sơ của người khác để khám bệnh cho mình không><br>
                    - Không!<br>
                    - Trong trường hợp bạn cố tình hay nhầm lẫn dùng hồ sơ bệnh nhân của người khác để đăng ký khám bệnh cho mình, là đã vi phạm điều khoản sử dụng của phần mềm. Khi đó, bạn sẽ bị bệnh viện từ chối khám chữa bệnh, chịu hoàn toàn những thiệt hại và tùy mức độ có thể chịu trách nhiệm trước pháp luật.<br>
                    - Vì vậy, khi đăng ký khám bệnh bạn vui lòng chọn/nhập và kiểm tra chính xác hồ sơ bệnh nhân của mình!   
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="intro">
                <h3><span>03</span> Vấn đề về quy trình đặt khám</h3>
                <p>Nếu BHYT của tôi bị từ chối tôi phải làm sao?<br>
                  - Trường hợp bạn chọn đối tượng là BHYT khi đăng ký khám, nhưng khi xác minh BHYT bạn không thuộc đối tượng này, khi đó bạn có thể:<br>
                  + Thực hiện việc khám chữa bệnh theo thông tin trên Phiếu Khám Bệnh, nhưng dưới hình thức “Đối tượng không có BHYT”.<br>
                  + Hoặc, bạn có thể hủy việc khám chữa bệnh, và vấn đề hoàn tiền trong trường hợp này sẽ do bệnh viện quyết định.
                </p>
              </div>
            </div>

          </div>
        </div>
    </section><br>

    <section class="ftco-section">
        <div class="main-container">
          <div class="row">
            <div class="col-md-4">
              <!-- <div class="intro"> -->
                 <div class="follow-icon">
                <h3><span></span> Cẩm nang sức khỏe</h3>
                <img src="images/cnsk.png"/>
                   
              </div>
            </div>
            <div class="col-md-4">
                <div class="follow-icon">
                <h3>Tập thể dục mỗi ngày để có sức khỏe tốt</h3>
                <img src="images/ktsk.png"/>
                
              </div>
            </div>
             <div class="col-md-4">
               <div class="follow-icon">
                <h3>Đăng kí thẻ bảo hiểm để được hưởng miễn giảm</h3>
                <img src="images/bhsk.png"/>
                
              </div>
            </div>
          </div>
        </div>
    </section>


 

    

