@page
@model InforModel
@{
    ViewData["Title"] = "Thông Tin";
}




<h3 class="tit5 t-center m-t-2">
      MỘT SỐ THÔNG TIN CẦN LƯU Ý
</h3>



      
    <!-- <section class="ftco-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="intro">
                <h3><span>1.</span> Hướng dẫn đăng kí khám trực tuyến</h3>
                <p>
                    Bước 1: Truy cập vào "Đăng Kí Khám bệnh" trên tab menu để đăng ký khám bệnh theo yêu cầu.<br> 
                    Bước 2: Đăng kí tài khoản của bệnh nhân. <br>
                    Bước 3: Đăng nhập tài khoản và đặt lịch, mặt bệnh đăng kí khám. 
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="intro">
                <h3><span>2.</span> Quy định</h3>
                <p>
                    1. Thời gian đăng ký khám bệnh trong vòng 30 ngày đến 16h30 trước ngày khám.<br>
                    2. Quý khách có thể đăng ký khám 01 hoặc nhiều chuyên khoa.<br>
                    3. Phí đăng ký khám trực tuyến bao gồm: <br>
                        + Tiền khám 01 (hoặc nhiều) chuyên khoa.<br>
                        + Phí tiện ích: phí sử dụng dịch vụ đăng ký khám bệnh trực tuyến, bao gồm phí tin nhắn thông báo lịch hẹn, 
                        thông báo giao dịch trên tài khoản thẻ, hủy khám, nhắc tái khám...
                        (chỉ trả 01 lần phí tiện ích cho 01 lượt đăng ký khám nhiều chuyên khoa).<br>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="intro">
                <h3><span>3.</span> Miễn Giảm</h3>
                <p>
                    1. Bệnh nhân có thẻ bảo hiểm được giảm 80% theo đúng mã bệnh viền đăng kí.<br>
                    2. Người già trên 75 tuổi sẽ được giảm 20% số tiền khám bệnh với gia đình khó khăn.<br>
                    3. Người có công với cách mạng được giảm 30%. <br>
                    4. Con thương binh liệt sĩ được giảm 15%. <br>
                </p>
              </div>
            </div>
          </div>
        </div>
    </section> -->



<section class="section-welcome bg1-pattern p-t-120 p-b-105">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-t-45 p-b-30">
                    <div class="wrap-text-welcome t-center">
                        <span class="tit2 t-center">
                            Hướng Dẫn Đăng Kí Khám Bệnh Trực Tuyến
                        </span>

                        <p class="t-center m-b-22 size3">
                              Bước 1: Truy cập vào "Đăng Kí Khám bệnh" trên tab menu để đăng ký khám bệnh theo yêu cầu.<br> 
                              Bước 2: Đăng kí tài khoản của bệnh nhân. <br>
                              Bước 3: Đăng nhập tài khoản và đặt lịch, mặt bệnh đăng kí khám. 
                        </p>
                    </div>
                </div>

                <div class="col-md-6 p-b-30">
                    <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                        <img src="images/qtkb.jpg">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-welcome bg1-pattern p-t-120 p-b-105">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-b-30">
                    <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                        <img src="images/thaydoinoikham.jpg">
                        
                    </div>
                </div>
                <div class="col-md-6 p-t-45 p-b-30">
                    <div class="wrap-text-welcome t-center">
                        <span class="tit2 t-center">
                            Một Số Quy Định
                        </span>

                        <p class="t-center m-b-22 size3">
                            1. Thời gian đăng ký khám bệnh trong vòng 30 ngày đến 16h30 trước ngày khám.<br>
                            2. Quý khách có thể thay đổi nơi khám chữa bệnh chỉ khi có sự xác nhận chuyển đổi của bệnh viện.<br>
                            3. Phí đăng ký khám trực tuyến bao gồm: <br>
                                + Tiền khám 01 (hoặc nhiều) chuyên khoa.<br>
                                + Phí tiện ích: phí sử dụng dịch vụ đăng ký khám bệnh trực tuyến, bao gồm phí tin nhắn thông báo lịch hẹn, 
                                thông báo giao dịch trên tài khoản thẻ, hủy khám, nhắc tái khám...
                                (chỉ trả 01 lần phí tiện ích cho 01 lượt đăng ký khám nhiều chuyên khoa).<br>
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </section>


    <section class="section-welcome bg1-pattern p-t-120 p-b-105">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-t-45 p-b-30">
                    <div class="wrap-text-welcome t-center">
                        <span class="tit2 t-center">
                           Miễn Giảm
                        </span>

                        <p class="t-center m-b-22 size3">
                            1. Bệnh nhân có thẻ bảo hiểm được giảm 80% theo đúng mã bệnh viền đăng kí.<br>
                            2. Người già trên 75 tuổi sẽ được giảm 20% số tiền khám bệnh với gia đình khó khăn.<br>
                            3. Người có công với cách mạng được giảm 30%. <br>
                            4. Con thương binh liệt sĩ được giảm 15%. <br>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 p-b-30">
                    <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                        <img src="images/miengiam.jpg">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    
            

    