@page
@model ProcessModel
@{
    ViewData["Title"] = "Quy Trình";
}

<!-- <section class="ftco-section">
        <div class="container">
          
            <div class="col-md-4">
              <div class="intro">
                <img src="images/qtkb.jpg"/>
                
              </div>
            </div>
             <div class="col-md-4">
              <div class="intro">
                <p>
                    Bước 1: Đặt Lịch Khám.<br>
                    Bước 2: Thanh toán tiền khám.<br>
                    Bước 3: Xác nhận người bệnh đến bệnh viện khám theo lịch hẹn.<br>
                    Bước 4: Khám và thực hiện cận lâm sàng.<br>
                    Bước 5: Nhận Thuốc.<br>
                    
                </p>
                
                
              </div>
            </div>
          </div>
        </div>
    </section> -->

<section class="section-welcome bg1-pattern p-t-120 p-b-105">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-t-45 p-b-30">
                    <div class="wrap-text-welcome t-center">
                        <span class="tit2 t-center">
                            Quy trình đặt lịch khám chữa bệnh
                        </span>

                        <p class="t-center m-b-22 size3 m-l-r-auto">
                              Bước 1: Đặt Lịch Khám.<br>
                              Bước 2: Thanh toán tiền khám.<br>
                              Bước 3: Xác nhận người bệnh đến bệnh viện khám theo lịch hẹn.<br>
                              Bước 4: Khám và thực hiện cận lâm sàng.<br>
                              Bước 5: Nhận Thuốc.<br>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 p-b-30">
                    <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                        <img src="images/qtkb.jpg">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
 

    

